<div class="row center">
<form class="inline-form" (ngSubmit)="searchArt()">
  <div class="form-group">
    <input type="search" class="input-sm form-control" placeholder="Recherche" name="search" [(ngModel)]="search">
    <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Chercher
    </button>
  </div>
</form>
</div>
<div class="container" *ngFor="let musee of response.items">
  <div class="column col-md-4">
  <img height="100px" class="img-responsive" src="{{musee.edmPreview}}" />
  </div>
  <div class="column col-md-4">
  <p>{{musee.title}}</p>
  </div>
  <div class="column col-md-4">
  <p>{{musee.artist}}</p>
  </div>
  <br>
</div>
