<!--<nav class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <button class="btn btn-default" (click)="goTo('/home')">Gerakeni</button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLinkActive="active" *ngIf="!isUserConnected()" (click)="toggleShow()"
               [routerLink]="['/connection']"><span class="	glyphicon glyphicon-pencil"></span> Sign Up</a></li>
        <li><a routerLinkActive="active" *ngIf="!isUserConnected()" (click)="toggleHide()"
               [routerLink]="['/connection']"><span class="glyphicon glyphicon-user"></span> Log In</a></li>
        <li><a routerLinkActive="active" *ngIf="isUserConnected()" (click)="goTo()" [routerLink]="['/home']"><span
          class="glyphicon glyphicon-pencil"></span> Account</a></li>
        <li><a routerLinkActive="active" *ngIf="isUserConnected()" (click)="logOut()"
               [routerLink]="['/connection']"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>

      </ul>
  </div>
</nav>-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" (click)="goTo('/home')">Gerakeni</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLinkActive="active" *ngIf="!isUserConnected()" (click)="toggleShow()"
               [routerLink]="['/connection']"><span class="	glyphicon glyphicon-pencil"></span> Sign Up</a></li>
        <li><a routerLinkActive="active" *ngIf="!isUserConnected()" (click)="toggleHide()"
               [routerLink]="['/connection']"><span class="glyphicon glyphicon-user"></span> Log In</a></li>
        <li><a routerLinkActive="active" *ngIf="isUserConnected()" (click)="goTo('/account')" [routerLink]="['/home']"><span
          class="glyphicon glyphicon-pencil"></span> Account</a></li>
        <li><a routerLinkActive="active" *ngIf="isUserConnected()" (click)="logOut()"
               [routerLink]="['/connection']"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>

      </ul>
  </div>
  </div>
</nav>