
<!--<div class="center">
  <form (ngSubmit)="formSubmit()">
    <div class="container" *ngIf="connectionFail">
      Invalid username or password
    </div>
    <div class="form-group" id="name-form">
      <label for="name">Your name*</label>
      <input type="text" id="name" name="name" [(ngModel)]="data.username"/>
    </div>

    <div class="form-group" id="email-form" *ngIf="showComponent()">
      <label for="email">Your e-mail*</label>
      <input type="email" id="email" name="email" [(ngModel)]="data.email"/>
    </div>

    <div class="form-group" id="password-form">
      <label for="name">Password*</label>
      <input type="password" id="password" name="name" [(ngModel)]="data.password"/>
    </div>

    <input type="submit" value="Submit!"/>
  </form>
</div>-->

<div class="container center">
  <form (ngSubmit)="formSubmit()">
    <div style="color: red;" class="container" *ngIf="connectionFail">
      Invalid username or password
    </div>
  <div class="row test">
      <div class="row">
        <div class="form-group" id="name-form">
          <label for="name">Your name*</label>
          <input class="center" type="text" id="name" name="name" [(ngModel)]="data.username"/>
        </div>
        <div class="form-group" id="email-form" *ngIf="showComponent()">
            <label for="email">Your e-mail*</label> 
            <input class="center" type="email" id="email" name="email" [(ngModel)]="data.email"/>
        </div>
        <div class="form-group" id="password-form">
          <label for="name">Password*</label>
          <input class="center" type="password" id="password" name="name" [(ngModel)]="data.password"/>
        </div>
        <button class="btn btn-danger center" type="submit">Submit</button>
      </div> 
  </div>
  </form>
</div>