label, input, textarea {
  display: block;
}

input, textarea {
  width: 500px;
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 10px;
  font-family: 'Sniglet', cursive;
  font-size: 1em;
  color: #676767;
  transition: border 0.5s;
  -webkit-transition: border 0.5s;
  -moz-transition: border 0.5s;
  -o-transition: border 0.5s;
  border: solid 3px #98d4f3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

input:focus, textarea:focus {
  border: solid 3px #77bde0;
}

label {
  font-size: 1.5em;
  margin-top: 20px;
}

/* affiche le texte en corps 16px lorsque le média dispose d'une largeur d'affichage au minimum de 780px */
@media (max-width: 780px) {
  input{
    font-size: 16px;
    width: 80%;
  }
}
