
<div class="container-fluid">
    <div class="column">
        <button class="btn btn-primary" (click)="redirectTo('/music')"> Music</button>
        <button class="btn btn-default" (click)="redirectTo('/movie')"> Movie </button>
        <button class="btn btn-success" (click)="redirectTo('/art')"> Art </button>
    </div>
</div>