<div class="row center">
<form class="inline-form" (ngSubmit)="searchMovie()">
  <div class="form-group">
    <input type="search" class="input-sm form-control" placeholder="Recherche" name="search" [(ngModel)]="search">
    <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Chercher</button>
  </div>
</form>
</div>
<div class="container" style="padding-bottom: 10px" *ngFor="let movie of response.Search; let i = index;">
    <div class="column col-md-4">
      <img height="100px"  src="{{movie.Poster}}" />
    </div>
    <div class="column col-md-4">
      <p>{{movie.Title}}</p>
    </div>
    <div class="column col-md-4">
      <p>{{movie.Year}}</p>
    </div>
</div>