<div class="row center">
<form class="inline-form" (ngSubmit)="searchMusic()">
  <div class="form-group">
    <input type="search" class="input-sm form-control" placeholder="Recherche" name="search" [(ngModel)]="search">
    <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Chercher</button>
  </div>
</form>
</div>
<div class="container" *ngFor="let music of response.data; let i = index;">
  <div class="column col-md-2">
  <img src="{{music.album.cover}}" />
  </div>
  <div class="column col-md-2">
  <p>{{music.title_short}}</p>
  </div>
  <div class="column col-md-2">
  <p>{{music.artist.name}}</p>
  </div>
  <div class="column col-md-6">
  <audio controls>
    <source src="{{music.preview}}" type="audio/mp3">
    Your browser does not support the audio element.
  </audio>
  </div>
  <br>
</div>
