<button class="btn btn-primary" (click)="deleteUser()"> delete account </button>
<button class="btn btn-default" (click)="changePassword()"> change password </button>

<form (ngSubmit)="accountSubmit()" *ngIf="show">

  <div class="form-group" id="password-form">
    <label for="password">Entrez votre nouveau mot de passe* : </label>
    <input type="password" id="password" name="name" [(ngModel)]="password"/>
  </div>

  <input type="submit" value="Submit!"/>
</form>
